* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f5f4f0;
  --boder-primary: #d9d9d9;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headiline: #e1624f;

  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 88px auto; */
  padding: 80px;
  gap: 40px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: var(--boder-primary);
}

/* header {
  display: flex;
  flex-direction: column;
  gap: 8px;
} */

.headline {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: var(--text-headiline);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.titleprimary {
  font-size: 36px;
  font-weight: bolder;
  color: var(--text-primary);
}

h3 {
  font-size: 28px;
  color: var(--text-primary);
}
.title {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-primary);
}

span {
  font-weight: bold;
}
.accentblue {
  color: var(--accent-blue);
}

.accentpuple {
  color: var(--accent-purple);
}

.accentpink {
  color: var(--accent-pink);
}
.accentorange {
  color: var(--accent-orange);
}

.paragraph {
  font-size: 16px;
  color: var(--text-secondary);
  margin: 8px 0 0 0;
}

.paragraphlast {
  font-size: 16px;
  color: var(--text-secondary);
  margin: 8px 0 0 0;
  text-align: center;
}

img {
  width: 100%;
  padding: 48px 0 20px 0;
  height: 375%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-position: inside; /* opcional */
}

.subtitle {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
  text-align: center;
  color: var(--text-secondary);
  margin-top: 24px;
}

footer {
  font-size: 16px;
  color: var(--text-secondary);
  padding: 28px 0 0 0;
  text-align: center;
}

footer img {
  width: 16px;
  vertical-align: middle;
  padding: 0;
}
